* {
  margin: 0 auto;
}

body {
  width: 960px;
  margin: 0 auto;
}

header {
  margin-bottom: 30px;
}

header div {
  display: flex;
  gap: 30px;
  align-items: center;
}

header img {
  line-height: 0;
	font-size: 0;
}

header a {
  text-decoration: none;
}

ul {
  display: flex;
}

main section img {
  margin-bottom: 30px;
  line-height: 0;
	font-size: 0;
}

main section:nth-child(2) {
  line-height: 0;
	font-size: 0;
}

img:first-child, img:nth-child(2) {
  margin-right: 30px;
}

main section:nth-child(3) {
  display: flex;
  max-height: 480px;
}

main section:nth-child(3) h2 {
  font-size: 120%;
  margin-bottom: 30px;
}

main section:nth-child(3) p {
  height: 300px;
  overflow: scroll;
}
